PROJETO/.DS_Store
PROJETO/php/config/.env
PROJETO/css/main-content.css
PROJETO/css/header.css
.idea/workspace.xml
PROJETO/.idea/sqldialects.xml
.DS_Store
PROJETO/.idea/dataSources.xml
PROJETO/php/config/password_generator.php
