<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="../../css/main-content.css">
    <link rel="stylesheet" href="../../css/header.css">
</head>
<body>
<header>
    <div class="container">
        <div class="logo">
            <img src="../../assets/logo/acalento-logo.svg" alt="logo acalento">
            <h1>Projeto Acalento</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#">nossa missão</a></li>
                <li><a href="#">blog acalento</a></li>
                <li><a href="#">nos apoie!</a></li>
                <li><a href="#">portal transparência</a></li>
            </ul>
            <a></a>
        </nav>
    </div>
</header>
</body>
</html>