
.form-control, .form-select{
    padding: 10px;
    margin: 5px 0;
    border: var(--default-border);
    border-radius: var(--default-radius);
    font-family: var(--text-font), sans-serif;
}


.form-control:not([type="date"], [type="time"]), .form-select {
    color: var(--primary-blue) !important;
}

label {
    font-family: var(--text-font), sans-serif;
    font-weight: bold;
    font-size: 14px;
}

