.card {
    border: 1px solid var(--primary-blue) !important;
    border-radius: var(--default-radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card.vertical {
    width: 20rem !important;
}

.card.big-card {
    max-height: 70vh !important;
}

.card.big-card p {
    font-size: 1.1rem;
}

.card.big-card h5 {
    height: 50px;
}

.card .imagem-vertical {
    width: 100%;
    height: 25vh;
}

.card .imagem-vertical img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h5 {
    font-size: 1.8rem;
    font-family: var(--text-font);
    height: 80px;
}
.card p {
    font-size: 0.9rem;
    margin-bottom: 0.5vh;
}

.card button {
    margin-top: 15px !important;
    font-size: 0.8rem !important;

}

.card a {
    margin-top: 15px ;
    font-size: 0.8rem !important;

}

.card-body .descricao {
    color: var(--primary-background) !important;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.amarelo {
    background-color: var(--secondary-yellow) !important;
}

.horizontal {
    width: 100% !important;
}

.imagem-horizontal {
    height: 100%;
}

.imagem-horizontal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.degrade-horizontal {
    position: relative;
    display: inline-block;
}

.degrade-horizontal::after {
    background: linear-gradient(to right, rgba(0, 0, 255, 0), var(--secondary-yellow));
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.degrade-vertical {
    position: relative;
    margin: 0;
    padding: 0;
}

.degrade-vertical::after {
    background: linear-gradient(to bottom, rgba(0, 0, 255, 0), var(--secondary-yellow));
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
}

.imagem-horizontal {
    margin: 0;
    padding: 0;
}

.degrade-horizontal {
    padding: 0 !important;
    margin: 0 !important;
}

.detail-link {
    margin-top: 0 !important;
    color: var(--primary-blue) !important;
    text-decoration: none !important;
}

.card-title {
    font-size: 1.6rem !important;
}