body {
    background-size: cover;
    color:var(--primary-background);
}
.certificado {
    padding: 55px 60px;
    background-color: var(--tertiary-background);
    width: 95%;
    border: 8px double var(--primary-blue);
    margin: auto;
}

.title {
    margin-bottom: 25px;
}

.title h1 {
    font-size: 48px;
    margin-left: 10px;
}

.content {
    text-align: center;
    margin-bottom: 30px;
}

.content p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 10px;
}

.content h4 {
    margin-bottom: 30px;
    font-size: 40px;
}

.bottom {
    display: flex;
    justify-content: center;
}

.bottom p {
    font-size: 15px;
    margin-bottom: 8px;
    text-align: center;
}

.signed {
    margin-top: 20px;
    color: var(--primary-blue);
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 40px;
    margin-bottom: -30px;
    text-align: center;
}


@media print {
    @page {
        size: A4;
        margin: 0;
    }

    .sidebar,
    .mobile-sidebar,
    .btn,
    header,
    nav {
        display: none !important;
    }

    .main-content,
    .container-fluid {
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
    }
}