.main-content {
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
}

main {
    min-height: 100vh;
}

.main-content h2 {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.main-content h4 {
    font-size: 2rem;
    margin-bottom: 5vh;
}

.table {
    --bs-table-bg: transparent !important;
    --bs-table-striped-bg: transparent !important;
    --bs-table-hover-bg: transparent !important;
}

.table.table-amarela {
    background-color: var(--tertiary-background) !important; /* Amarelo claro */
}


.table.table-amarela tbody tr:hover {
    background-color: var(--secondary-blue) !important; /* Amarelo hover */
}

.table.table-amarela td,
.table.table-amarela th {
    border-color: var(--primary-blue) !important; /* Borda amarela */
}

h3 {
    color: var(--primary-background) !important;
}

.text-image {
    margin-top:  5vh;
    max-height: 500px;
    overflow: hidden;
    padding: 20px;
}

.text-image .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.text-image img {
    width: 50%;
    height: 36vh;
    min-height: 300px;
    max-height: 500px;
    object-fit: cover;
    border-radius: var(--default-radius);
    border: var(--default-border);
}

.text-image article {
    width: 50%;
    flex-direction: column;
    color: var(--primary-blue);
    text-align: var(--alinhamento-texto);
}

.text-image.right article {
    margin-left: 5vw;
}

.text-image.left article {
    margin-right: 5vw;
}

.text-image h2 {
    font-family: var(--title-font), serif;
    font-size: 35px;
}

.text-image p {
    width: 90%;
    font-family: var(--text-font), serif;
    font-size: 15px;
    line-height: 1.8em;
    margin-bottom: 3vw;
    margin-top: 2vw;
}

.text-image a {
    font-family: var(--text-font), serif;
    font-weight: 600;
    font-size: 0.8rem;
    color: var(--tertiary-background);
    background-color: var(--primary-blue);
    align-self: center;
    padding: 10px;
    border-radius: var(--default-radius);
}

.text-image a:hover {
    background-color: var(--primary-background);
    color: var(--primary-blue);
}



@media (min-width: 768px) {
    .main-content {
        margin-left: 300px !important;
        margin-top: 5vh;
        margin-bottom: 5vh;
        overflow-y: auto !important ;
    }
}

